* {
    box-sizing: border-box;
}

#new-modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding-top: 3%;
}
#new-modal-form{
    width: 95vw;
    max-width: 600px;
    height: 90vh;
    max-height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
#book-form{
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
}
#book-form input[type="text"]{
    border: 0;
    padding: 5%;
}
#book-form input[type="number"]{
    width: 50%;
}
#book-form-read{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header{
    min-height: fit-content;
    color: rgb(96, 141, 141);
    background-color: beige;
    display: grid;
    align-items: center;
    grid-template-columns: auto 40px;
    padding-left: 14px;
}
h3{
    text-align: center;
}
span{
    font-size: xx-large;
}

::placeholder{
    font-style: italic;   
}