* {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    --left-margin: 10%;
    --rigth-margin: 10%;
    --font-size: large;
}

#new-modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding-top: 3%;
}
#new-modal-form{
    color: rgb(207, 221, 221);
    width: 95vw;
    max-width: 400px;
    height: 90vh;
    max-height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: auto;
    background-color: rgb(24, 27, 49);
    display: flex;
    flex-direction: column;
}
#book-form{
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
    font-size: large;
}
#book-form input[type="text"]{
    border: 0;
    padding: 5%;
}
#book-form input[type="number"]{
    width: 50%;
    height: 100%;
}
#book-form-read{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#book-form input[type="submit"]{
    width: fit-content;
    height: fit-content;
    font-weight:lighter;
    font-size: large;
    padding: 5px;
    border: none;
    align-self: center;
    color: rgb(207, 221, 221);
    background-color: rgba(60, 61, 95, 0.562);
    box-shadow: 1px 1px 4px 1px  rgb(60, 61, 95);
}
#book-form input[type="submit"]:hover{
    background-color: rgba(60, 61, 95, 0.068);
    box-shadow: 1px 1px 10px 5px  rgb(60, 61, 95);
    cursor: pointer;
    font-weight: bold;
}
#book-form input[type="submit"]:active{
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(60, 61, 95, 0.562);
    font-weight: lighter;
}
.form-switch {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 60px;
}
.form-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
header{
    min-height: fit-content;
    color: rgb(207, 221, 221);
    background-color: rgb(60, 61, 95);
    display: grid;
    align-items: center;
    grid-template-columns: auto 40px;
    padding-left: 14px;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(24, 27, 49);
}

.header{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: rgb(60, 61, 95);
    color: rgb(207, 221, 221);
}
.library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.book{
    display: none;
    color: rgb(207, 221, 221);
    margin: 5vh auto 0;
    height: 31vh;
    max-height: 250px;
    width: 80vw;
    max-width: 400px;
    background-color: rgb(60, 61, 95);
    padding-left: 2vw;
    padding-right: 2vw;    
}
#add-book{
    display: block;
    cursor: pointer;
}
.book-add::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '+';
    font-size: 100px;
}
h2{
    text-align: center;
}
.close{
    font-size: xx-large;
    cursor: pointer;
}
::placeholder{
    font-style: italic;   
}
.switch{
    display: flex;
    align-items: center;
}
.buttons{
    width: 35%;
    max-width: 150px;
    height: fit-content;
    font-weight:lighter;
    font-size: large;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(207, 221, 221);
}

.buttons:active{
    box-shadow: 0px 0px 0px 0px;
    background-color: rgba(60, 61, 95, 0.562);
    font-weight: lighter;
}
[data-read]{
    margin-left: var(--left-margin);
    float: left;
    background-color: rgb(133, 8, 8);
}
[data-read]:hover{
    background-color: rgba(0, 59, 187, 0.815);
    cursor: pointer;
    font-weight: bold;
}
[data-remove]{
    margin-right: var(--rigth-margin);
    float: right;
    background-color: rgb(133, 8, 8);

}
[data-remove]:hover{
    background-color: rgb(90, 40, 40);
    cursor: pointer;
    font-weight: bold;
}
[data-title]{
    font-weight: bolder;
}
p{
    font-size: var(--font-size);
}
@media only screen and (min-width: 500px) {
    * {
        --font-size: x-large;
    }
}
